body{
    display: flex;
    gap: 10px;
    flex-direction: column;

}
.box {
    width: 100px;
    height: 100px;
    background-color: aqua;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}