a {
    text-decoration: none;
}
body {
    font-family: sans-serif;
}

.menu {
    color: cornflowerblue;
    font-size: 16px;
    line-height:20px;
}

.head1 {
    color: #222;
    font-size: 28px;
    line-height: 36px;
    font-weight: bold;

}

.subtitle {
    color: coral;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 80px;

}

.text {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7D7987;


}

.img_about {
    border-radius: 10px;
    width: 20%;
}

.the_input_field {
    width: 200;
    height: 30;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 14px;
    line-height: 30px;
    font-family: sans-serif;
}

.button {
    width: 150px;
    height: 30px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 10px;
}