.converter {
  display: flex;
  gap: 50px;
  justify-content: center;

  &__form {
    width: 700px;
    border: 3px solid black;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    min-height: 300px;
  }
}

.todoList {
  display: flex;
  flex-direction: column;
}
.formAdd {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__inputText {
    width: 400px;
  }
  &__buttonAdd {
    width: 400px;
  }
}

.buttonAdd {
  width: 400px;
}
.cards {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  align-items: flex-start;
  &__cardBox {
    width: 250px;

    &_box {
      background-color: chartreuse;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}
