* {
  margin: 0;
  padding: 0;
}
.center {
  padding-left: calc(50% - 569px);
  padding-right: calc(50% - 569px);
  padding-top: 30px;
  display: flex;
  gap: 30px;
}

.addForm {
  display: flex;
  flex-direction: column;
  min-width: 400px;
  max-width: 400px;
  gap: 15px;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 300px;
}
.btn {
  display: flex;
  gap: 10px;
}

.cardsBox {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.changeBtn {
  display: flex;
  gap: 5px;
  min-height: 200px;
  flex-direction: column;
  min-width: 300px;
}
